h4 {
  margin-top: 25px;
}
/*.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}*/
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  /*background-color: #BFDCFA;*/
  /*background-color: rgba(86,61,124,.15);*/
  /*border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);*/
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

#c1,#c2,#c3,#c4,#c5 {
  height: 60px;
  white-space: nowrap;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
}

#c1,#c2,#c3,#c4 {
  border-right-style: none;
}

#delete_from_cart {
  height: 30px;
  width: 80%;
  line-height: 30px;
  border: none;
  color: white;
  background-color: #3385ff;
}

#column {
  font-weight: bold;
  background-color: #BFDCFA;
  text-align: center;
}

#items {
  background-color: #BFDCFA;
  text-align: center;
}

#select_billing {
  height: 200px;
  border: none;
}

#d1,#d2,#d3,#d4 {
  height: 60px;
  white-space: nowrap;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
}

#d1,#d2,#d3 {
  border-right-style: none;
}

#e1,#e2 {
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  height: 160px;
}
#e1 {
  border-right-style: none;
}

#hint {
  margin-bottom: 10px;
}
#input_billno {
  margin-bottom: 20px;
}
#input_orderno {
  margin-bottom: 20px;
}

#h1,#h2,#h3,#h4 {
  height: 60px;
  white-space: nowrap;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
}

#h1,#h2,#h3 {
  border-right-style: none;
}