<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    p{
      font-size: 8pt;
    }
  </style>


<body>
  <h1>Sign Up</h1>
{% if error: %} <p class="error"><strong>Error:</strong> {{ error }} {% endif %}
<p>*: must fill in</p>
<form method="POST" action="/signup">
  <dl>
    <dt>USERNAME *:
    <dd><input type='text' name='username'>
    <dt>PASSWORD *:
    <dd><input type='password' name='password'>
    <dt>NAME *:
    <dd><input type='text' name='name'>
    <dt>PHONE:
    <dd><input type='text' name='phone'>
    <dt>ADDRESS:
    <dd><input type='text' name='address'>
    <dt>RATING *:
    <dd><input type='number' name='rating'>
    <dd>
      <input type='submit' value="Submit">
    </dd>
  </dl>
</form>
<form action="/">
    <button type="submit">back</button>
</form>
</body>


</html>
