<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Sign In</h1>

<form method="POST" action="/main">
  <dl>
    <dt>USERNAME:
    <dd><input type='text' name='username'>
    <dt>PASSWORD:
    <dd><input type='password' name='password'>
    <dd>
      <input type='submit' value="Sign In">
      <a href="/Users/Rui/Desktop/Rui%20Lu/2016%20Spring/IDB/project_1/project1/webserver/templates/signup.html">sign up</a>
    </dd>
  </dl>
</form>

</body>


</html>
